# RDServer Location( servlet -> only absolute path , daemon -> absolute or relative path )
RDSERVER_DIR=/usr/local/tomcat6/webapps/rdServer

# RDServer jar package and JDBC Location( servlet -> only absolute path , daemon -> absolute or relative path )
RDSERVER_LIB_DIR=/usr/local/tomcat6/webapps/rdServer/bin

# RDServer properties Location( servlet -> only absolute path , daemon -> absolute or relative path ),
# If you do not insert a value for this key, properties are read from RDSERVER_DIR+"/conf" as default. Otherwise, it is read from the path specified by the key.
RDSERVER_PROPERTIES_DIR=/usr/local/tomcat6/webapps/rdServer/conf

# RDServer logs Location( servlet -> only absolute path , daemon -> absolute or relative path )
RDSERVER_LOG_DIR=/usr/local/tomcat6/webapps/rdServer/log
