<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>G-PIN_Client</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>


	<!-- Specifying a default Locale and Context -->
	<context-param>
		<param-name>
		javax.servlet.jsp.jstl.fmt.locale
	</param-name>
		<param-value>
		ko-KR
	</param-value>
	</context-param>
	<context-param>
		<param-name>
		javax.servlet.jsp.jstl.fmt.localizationContext
	</param-name>
		<param-value>
		ApplicationResources
	</param-value>
	</context-param>
	<context-param>
		<param-name>
		javax.servlet.jsp.jstl.fmt.fallbackLocale
	</param-name>
		<param-value>
		ko-KR
	</param-value>
	</context-param>


	<!-- SAML Initialize -->

	<servlet>
		<servlet-name>SPStub</servlet-name>
		<servlet-class>gov.mogaha.gpin.connect.servlet.SPStub</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>SPStub</servlet-name>
		<url-pattern>/SPStub</url-pattern>
	</servlet-mapping>
</web-app>
