.sp2 {
  margin-left: 10px;
}

.sp3 {
  margin-left: 15px;
}

.sp4 {
  margin-left: 20px;
}

.sp5 {
  margin-left: 25px;
}

.sp6 {
  margin-left: 55px;
}

.sp7 {
  margin-left: 30px;
}

.sp8 {
  margin-left: 60px;
}

